#headerpic {
  width: 100%;
}

#login {
 position: absolute;
 top: 6%;
 right: 7%;
}

#login-body {
  height: 220px;
}

#container-fluid {
  width: 100%;
  left: 0;
  margin: 0;
  padding: 0;
}

#searchform {
  margin-top: 12px;
}

#game {
  float: left;
}

#highscores {
  width: 40%;
  border: 1px solid black;
  padding-left: 10px;
}

button, select {
  background-color: #212121;
  color: #cecece;
}

input {
  background-color: #3c3c3c;
}

input[type="submit"] {
  background-color: #212121;
  color: #cecece;
}

table {
  border: 1px solid black;
}

nav.navbar {
  border-color: #000000;
  background-color: #2f2f2f;
}

body {
  background-color: #2f2f2f;
  color: #cecece;
}

.header {
  color: #cecece !important;
}

p, td, li, td {
  color: #cecece;
  font-weight: lighter;
}

a, th {
  font-weight: bold;
  color: #cecece;
}

a:hover {
  color: #ffffff;
}

th.highscore, td.highscore {
  text-align: center;
  padding: 20px;
}

th, td {
  padding: 15px;
}

.navbar-default .navbar-nav>li>a {
  color: #cecece
}

.navbar-default .navbar-nav>li>a:hover {
  color: #ffffff
}
