{% extends 'admin_base.html' %}
{% block admin_content %}
  <form role="form" class="form-horizontal" action="/developer/deletegame/" method="POST">

    <table style="width:60%">
      <tr>
        <th>Name</th>
        <th></th>
        <th>Price</th>
        <th></th>
        <th></th>
      </tr>
      {% for game in games %}
      <tr>
        <td>{{ game.name}}</td>
        <td><a href="/developer/statistics/?gameid={{ game.id }}">Sales info</a></td>
        <td>{{ game.price}}</td>
        <td>{{count}}</td>
        <td><button type="submit" name="gameid" value="{{ game.id }}" onclick="confirm('Delete game?')">Delete</button></td>
      </tr>
      {% endfor %}
    </table>
  </form>
{% endblock %}
