{% extends 'admin_base.html' %}
{% block admin_content %}

  <form role="form" class="form-horizontal" action="/deleteevent" method="POST">
    {% csrf_token %}
    <table style="width:60%">
      <tr>
        <th style="width:30%">Name</th>
        <th style="width:10%">Price</th>
        <th style="width:10%">Sold</th>
        <th style="width:10%"></th>
      </tr>
      {% for game in games %}
      <tr>
        <td>{{ game.name}}</td>
        <td>{{ game.price}}</td>
        <td>{{count}}</td>
        <td><button type="submit" name="event_id" value="{{ game.id }}" onclick="confirm('Do you want to delete the event')">Delete</button></td>
      </tr>
      {% endfor %}
    </table>
  </form>
{% endblock %}
