{% extends 'admin_base.html' %}
{% block admin_content %}

  <p>asdsad</p>
  <form role="form" class="form-horizontal" action="/deleteevent" method="POST">
    {% csrf_token %}
    <table style="width:100%">
      <tr>
        <th><a href="?order_by=name">Name</a></th>
        <th><a href="?order_by=name">Price</a></th>
        <th><a href="?order_by=name">Sold</a></th>
      </tr>
      {% for game in games %}
      <tr>
        <td>{{ game.name}}</td>
        <td>{{ game.price}}</td>
        <td>{{count}}</td>
        <td><button type="submit" name="event_id" value="{{ game.id }}" onclick="confirm('Do you want to delete the event')">Delete</button></td>
      </tr>
      {% endfor %}
    </table>
  </form>
{% endblock %}
