{% extends 'base.html' %}
{% load i18n %}
{% block page_content %}
<script>
  function resizeIframe(obj) {
    obj.style.height = "480px";
    obj.style.width = "640px";
  }

  window.addEventListener("message", receiveMessage, false);

  function receiveMessage(event){
    var origin = event.origin || event.originalEvent.origin
    
    if(event.data.messageType == "SCORE"){
      setScores(event.data.score);
      setTimeout(getScores, 1000);
    }
    if(event.data.messageType == "SAVE"){
      window.location.reload();
    }
    if(event.data.messageType == "LOAD_REQUEST"){
      window.location.reload();
    }
    if(event.data.messageType == "LOAD"){
      window.location.reload();
    }
    if(event.data.messageType == "ERROR"){
      alert(event.data.info);
    }
    if(event.data.messageType == "SETTING"){
      document.getElementById("game").width = event.data.options.width;
      document.getElementById("game").height = event.data.options.height;
      getScores();
    }
  
  }
  function setScores(scores){
    $.ajax({type:"GET",url:"/setScores/?gameID={{game.id}}&score=" + scores});
  }

  function getScores(){
    $.ajax({type:"GET",dataType:"json",url:"/getScores/?gameID={{game.id}}",success:function(data){
      inputstr = "";  
      for(index = 0; data.length - 1 >= index; ++index){
        inputstr += '<tr><td class="highscore">' + data[index].user__username + '</td><td class="highscore">' + data[index].score + '</td></tr>';
    }
      document.getElementById("scoreboard").innerHTML = inputstr;
    },
  });
}
</script>

  {% if owned != True %}

   <form action="http://payments.webcourse.niksula.hut.fi/pay/" method="POST">
    <input type="hidden" name="pid" value="{{ pid }}" />
    <input type="hidden" name="sid" value="GameshopAAC" />
    <input type="hidden" name="success_url"
            value="http://127.0.0.1:8000/payment/success" />
    <input type="hidden" name="cancel_url"
            value="http://127.0.0.1:8000/payment/cancel" />
    <input type="hidden" name="error_url"
            value="http://127.0.0.1:8000/payment/error" />
    <input type="hidden" name="checksum"
            value="{{ checksum }}" />
    <input type="hidden" name="amount" value="{{ game.price }}"/>

    <p>Purchase this game for {{game.price}}</p>
    <input type="submit" value="Accept Payment"/>
</form>

  {% else %}

  <p>You are now playing " {{ game.name }} "</p>

    <iframe style="background:white;float:left;margin:10px;" src= {{ game.url }} id="game" frameborder="0" scrolling="no">
    </iframe>

    <table id="highscores" style="float:left;margin:10px;">
      <tr>
        <th class="highscore">Player</th>
        <th class="highscore">Highscore</th>
      </tr>
      <tbody id=scoreboard>
      </tbody>
  </table>
  {% endif %}


{% endblock %}
