{% extends 'base.html' %}
{% load i18n %}
{% block page_content %}
<script>
  function resizeIframe(obj) {
    //obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
    obj.style.height = "640px";
    obj.style.width = "480px";
  }
</script>

  {% if owned != True %}

   <form action="http://payments.webcourse.niksula.hut.fi/pay/" method="POST">
    <input type="hidden" name="pid" value="{{ pid }}" />
    <input type="hidden" name="sid" value="GameshopAAC" />
    <input type="hidden" name="success_url"
            value="http://127.0.0.1:8000/payment/success" />
    <input type="hidden" name="cancel_url"
            value="http://127.0.0.1:8000/payment/cancel" />
    <input type="hidden" name="error_url"
            value="http://127.0.0.1:8000/payment/error" />
    <input type="hidden" name="checksum"
            value="{{ checksum }}" />
    <input type="hidden" name="amount" value="{{ game.price }}"/>

    <p>Purchase this game for {{game.price}}</p>
    <input type="submit" value="Accept Payment"/>
</form>

  {% else %}

  <p>You are now playing " {{ game.name }} "</p>

    <iframe style="background:white;float:left;" src= {{ game.url }} id="game" frameborder="0" scrolling="no" onload="resizeIframe(this)">
    </iframe>

    <table id="highscores" style="float:right;">
      <tr>
        <th class="highscore">Player</th>
        <th class="highscore">Highscore</th>
      </tr>
    {% for userscore in userscores %}
      <tr class="highscore">
        <td>{{ userscore.0 }}</td>
        <td>{{ userscore.1 }}</td>
      </tr>
    {% endfor %}

  </table>
  {% endif %}


{% endblock %}
