{% extends 'base.html' %}
{% load i18n %}
{% block page_content %}

  {% if not user.is_authenticated %}
    <p>Please log in to play your games and shop!<p>

  {% else %}
  <p>New this month:</p>
  <table style="width:100%">
    <tr>
      <th id="tabletitle">Game</th>
      <th id="tabletitle">Released</th>
    </tr>
    {% for game in games %}
    <tr>
      <td><a href="http://127.0.0.1:8000/game?gameID={{ game.id }}">{{ game.name}}</a></td>
      <td>{{ game.released}}</td>
    </tr>
    {% endfor %}
  </table>

{% endif %}
{% endblock %}
