{% extends 'base.html' %}
{% load i18n %}
{% block page_content %}

  {% if not user.is_authenticated %}
    <p>Please log in to play your games and shop!<p>

  {% else %}
  <p>New games this month:</p>
  <table style="width:45%">
    {% for game in games %}
    <tr>
      <td style="width:30%"><a href="https://fathomless-fortress-57721.herokuapp.com/game?gameID={{ game.id }}">{{ game.name}}</a></td>
      <td style="width:15%">{{ game.released}}</td>
    </tr>
    {% endfor %}
  </table>

{% endif %}
{% endblock %}
