{% extends 'base.html' %}
{% load i18n %}
{% block page_content %}

<table>
  <tr>
    <th class="tabletitle" style="width:35%"><a href="?order_by=name">Game</a></th>
    <th class="tabletitle" style="width:10%"><a href="?order_by=price">Price</a></th>
    <th class="tabletitle" style="width:35%"><a href="?order_by=dev">Developer</a></th>
    <th class="tabletitle" style="width:20%"><a href="?order_by=released">Released</a></th>
  </tr>
  {% for game in games %}
  <tr>
    <td><a href="https://fathomless-fortress-57721.herokuapp.com/game?gameID={{ game.id }}">{{ game.name}}</a></td>
    <td>{{ game.price}}</td>
    <td>{{ game.dev}}</td>
    <td>{{ game.released}}</td>
  </tr>
  {% endfor %}
</table>


{% endblock %}
