<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <title>Gameshop</title>
    <link rel="stylesheet" href="{% static 'css/layout.css' %}" />
    <meta charset="utf-8" />
  </head>
  <body>
    <div id="header">
      <ul id="title">
        <h2>Gameshop</h2>
      </ul>
    </div>
    <div id="header">
      <ul id="navigation">
        <li><a href="/">Home</a></li>
        <li><a href="/browse">Browse Games</a></li>
        <li><a href="/scores">Highscores</a></li>
      </ul>
    </div>
    <div id="main">
      <ul id="aside">
        <button>Logout
      </ul>
    </div>
    {% block page_content %}{% endblock %}
  </body>
</html>
