<!DOCTYPE html>
<html>
	<head>
	<title>Gameshop</title>
	<link rel="stylesheet" href="layout.css" />
    <meta charset="utf-8" />
  	</head>
  	<body>
	    <div id="header">
      		<ul id="navigation">
        		<li><a href="/home">Home</a></li>
        		<li><a href="/browse">Browse Games</a></li>
        		<li><a href="/scores">Highscores</a></li>
      		</ul>
    	</div>
	    <div id="scores">
          <div id="main">
      <div>
        <h3>High Scores</h3>
        <ul>
          <li><a href="">insert gamename and highscore</a></li>
          <li><a href="">insert gamename and highscore</a></li>
          <li><a href="">insert gamename and highscore</a></li>
        </ul>
      </div>
    </body>
</html>