{% extends 'base.html' %}
{% load i18n %}
{% block page_content %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
  <div class="navbar" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li>
        <div class="dropdown" style="padding:20px 20px 0px 0px;">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" >Category<span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">JavaScript</a></li>
          </ul>
        </div>
      </li>
      <li>
        <div class="dropdown" style="padding:20px 20px 0px 0px;">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Price<span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">JavaScript</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>


{% for game in games %}

  {% if forloop.counter|divisibleby:"4" %}
    <div class="row">
  {% endif %}
  <div class="col"><p>asdsadsa</p></div>
  {% if forloop.counter|divisibleby:"4" %}
    </div>
  {% endif %}
{% endfor %}


{% endblock %}
